/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--head-font), sans-serif;
  background-color: #fff;
  background-image: var(--bg-gradient);
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  margin-block: 100px;
  border: 2px solid #000;
  padding: 128px 121px;
  background-color: var(--bg-color);
}

.header-title {
  padding-block-end: 20px;
  vertical-align: bottom;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: clamp(3.063rem, 1.502vw + 2.71rem, 4.063rem);
  line-height: 100%;
  text-transform: uppercase;
}

.header-text {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: clamp(0.875rem, 0.845vw + 0.677rem, 1.438rem);
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
}

.content-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-inline: 372px;
}

.content-section_card {
  border: 2px solid #000;
  background-color: #fff;
}

.card_title {
  padding: 6px 10px;
  font-family: inherit;
  font-size: 18px;
  line-height: 100%;
  font-variation-settings: "wght" 700;
}

.card_image-section {
  position: relative;
  display: block;
  border-block-start: 2px solid #000;
  border-block-end: 2px solid #000;
  inline-size: clamp(23.438rem, 30.141vw + 16.373rem, 43.5rem);
  aspect-ratio: 1/1;
}

.image {
  display: block;
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.label {
  position: absolute;
  top: 27px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 0 0 1px #fff;
  mix-blend-mode: hard-light;
}

.card_text-section {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px 25px;
}

.text {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: "wght" 400;
}

.card_buttons {
  display: flex;
  justify-content: end;
  gap: 6px;
  margin-block-end: 25px;
  padding-inline: 25px;
}

.button {
  position: relative;
  padding: 0;
}

.card__icon-button {
  align-self: center;
  border: none;
  background-color: #fff;
}

.like-icon {
  display: block;
  align-self: center;
}

.card__like-button {
  display: flex;
  justify-content: center;
  border: 2px solid #000;
  padding-block: 11px;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
  inline-size: 130px;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 #000;
}

.button:has(.card__like-button)::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  inline-size: 100%;
  block-size: 100%;
}

.button:has(.card__like-button):hover::after {
  transition: transform 0.5s ease-in-out;
  transform: scaleX(1);
}

.button__text {
  position: absolute;
  z-index: 3;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  color: #fff;
  mix-blend-mode: difference;
}

@media (width <= 375px) {
}
