/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --head-font: "Inter-Variable";
  --accent-font: "PressStart2P";
  --bg-color: #fff;
  --bg-gradient: repeating-linear-gradient(to bottom, #e7e7e7 0px 2px, transparent 2px 4px), 
  repeating-linear-gradient(to right, #e7e7e7 0px 2px, transparent 2px 4px), linear-gradient(to bottom, #E7E7E7 0%, #1A1A1A 100%);
}
